<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba servicio de correo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f6f6;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #dddddd;
        }

        .header img {
            max-width: 100%;
            height: auto;
        }

        .content {
            padding: 20px;
            line-height: 1.6;
        }

        .otp {
            display: block;
            width: 100px;
            margin: 20px auto;
            padding: 10px;
            background-color: #007bff;
            color: #ffffff !important;
            text-align: center;
            font-size: 1.5em;
            border-radius: 5px;
        }

        .footer {
            text-align: center;
            padding: 10px 0;
            border-top: 1px solid #dddddd;
            margin-top: 20px;
            font-size: 0.9em;
            color: #666666;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="{{imageHeader}}" alt="{{companyName}}">
            <h2>Prueba servicio de correo</h2>
        </div>
        <div class="content">
            <p>Hola,</p>
            <p>Esta es una prueba del servicio de envio de correos</p>
            <p>Gracias,</p>
            <p>El equipo de <b> {{companyName}} </b></p>
        </div>
        <div class="footer">
            <p>Si tienes alguna pregunta, no dudes en <a href="mailto:{{mailFooter}}">contactarnos</a>.</p>
            <p>&copy; {{year}} {{companyName}}. Todos los derechos reservados.</p>
        </div>
    </div>
</body>

</html>